/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 span {
    margin-left: 10px;
 }
 .new-deal {
    position: absolute;
    margin-left: 10px;
 }
.allCenter {
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    text-align: center;
}
#topnav {
    color: white;
    margin-top: 0px;
}
.dealImg {
    max-width: 50px;
}
#tbTitle, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-variant: bold;
    text-align: center;
}
th {
    padding: 5px;
}
td {
    font-family: Georgia, Times, serif;
}
//this adds gradient to table
table.responsive {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    margin-left: auto;
    margin-right: auto;
}
table.responsive th {
    padding: 5px;
    background: #d5e3e4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZTNlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2NjZGVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2M4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5e3e4), color-stop(40%, #ccdee0), color-stop(100%, #b3c8cc));
    background: -webkit-linear-gradient(top, #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
    background: -o-linear-gradient(top, #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
    background: -ms-linear-gradient(top, #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
    background: linear-gradient(to bottom, #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
    border: 1px solid #999999;
    text-align: center;
}
table.responsive td {
    padding: 5px;
    background: #ebecda;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWNkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2UwZTBjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebecda), color-stop(40%, #e0e0c6), color-stop(100%, #ceceb7));
    background: -webkit-linear-gradient(top, #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
    background: -o-linear-gradient(top, #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
    background: -ms-linear-gradient(top, #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
    background: linear-gradient(to bottom, #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
    border: 1px solid #999999;
}
table.responsive th p {
    margin: 2px;
    padding: 8px;
    border-top: 1px solid #eefafc;
    border-bottom: 0px;
    border-left: 1px solid #eefafc;
    border-right: 0px;
}
table.responsive td p {
    margin: 0px;
    padding: 8px;
    border-top: 1px solid #fcfdec;
    border-bottom: 0px;
    border-left: 1px solid #fcfdec;
    border-right: 0px;
}
#tbtxtwrap {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

