<nav id="topnav" class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <span>TierraBarata</span>

    <ul class="right">

      <li class="divider"></li>
        <%- if user_signed_in? %>
          <li ><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
      <li class="divider"></li>
          <li ><%= link_to 'Login', new_user_session_path %></li>
      <li class="divider"></li>
          <li ><%= link_to 'Sign up', new_user_registration_path%></li>
        <% end %>
          </li>
       </li>
     </li>
    </ul>
  </section>
</nav>

